.center{
    width: 30rem;
    margin: 0 auto;
}
.article{
    width: 35rem;
    background-color: rgb(226, 218, 218);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1{ 
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.name{
    font-size: 2rem;
    color: rgb(46, 2, 2);
}
.deleteBtn{
    padding: 1rem 2rem;
    cursor: pointer;
}